@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Sora", sans-serif;
  background-color: #fcf9f8;
  color: #1b1b1b;
}

* {
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
}

.glass-panel {
  background: rgba(252, 249, 248, 0.8);
  backdrop-filter: blur(12px);
}
